<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
</head>
<body>
<h1>Course Details</h1>

<a href="/">Show All Courses</a><br/>
<a href="/add">Add a Course</a><br />
<a href="/search">Search Courses</a><br />
<span th:if="not ${course}">Course not found</span>


<div th:if="${course}">
Title :<span th:text="${course?.title}" ></span><br />
Instructor :<span th:text="${course?.instructor}" ></span><br />
Description :<p th:text="${course?.description}" ></p>
Credits :<span th:text="${course?.credit}" ></span><br />

<a th:href="@{/delete/{id}(id=${course.id})}">Delete this course</a>
</div>
</body>
</html>